<stellar-layout class="bg-tan" id="venue" size="large" padding="large">
  <stellar-grid class="items-center" style="--grid-gap: 4rem;--grid-width: 300px;">
    <copy-wrap>
      <svg class="smile w3 h3 mb3">
        <title>Smile</title>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/sprite.svg#smile"></use>
      </svg>
      <h4 class="windsor brown">The Venue</h4>
      <h3 class="mt0 mb3 windsor f2 f1-m">The Commons on Champa</h3>
      <address class="brown fs-normal lh-copy mb3">
        1245 Champa St<br>
        Denver, CO 80204
      </address>

      <p class="brown lh-copy">We're so excited to be part of The Commons' reopening after being closed for two years. The Commons is everything BarCamp is cruisin’ toward - entrepreneurship, community, and good conversation. They're also a sponsor, so huge kudos to to the Commons staff for welcoming and helping us make BarCamp Denver possible. Y'all are pretty neato, and we ain’t joshin’!</p>
    </copy-wrap>

    <div class="flex items-center justify-center bg-gold">
      <iframe class="map" width="640" height="640" id="gmap_canvas" src="https://maps.google.com/maps?q=The+Commons+on+Champa&t=&z=16&ie=UTF8&iwloc=&output=embed&maptype=satellite" allowfullscreen frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
  </stellar-grid>
</stellar-layout>
